<div class="app-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="4" rowspan="2">
      <mat-icon class="imgheader" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button>Test1</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button>Test1</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button>Test1</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-stroked-button>Test1</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
