<div class="app-container">
  <form [formGroup]="from" autocomplete="off">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput currencyMask formControlName="base" placeholder="USD" type="text"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput currencyMask formControlName="change" placeholder="ERU" type="text" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button [disabled]="from.invalid" (click)="sendExchange()">Calculate</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

