@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat-core();

@import "themes/default-theme.scss";
@import "themes/light-theme.scss";
@import "themes/black-theme.scss";

// Default styles
body {
  margin: 0;
  padding: 0;
}
.app-container{
  padding-left: 10%;
  padding-right: 10%;
}
