<div class="container-style">
  <div class="app-container">
    <mat-grid-list cols="12" rowHeight="25px">
      <mat-grid-tile *ngFor="let info of infosFooter" colspan="3">
        <label>{{info.title}}</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <label>Social Networks</label>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let info of infosFooter" colspan="3">
        <p>{{info.description}}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
